<div class="flex-container">
  <div class="myself box">
    <h3>About Application</h3>
    <p>There are many resources on the Web to learn MEAN stack but it is difficult to find the best resources as there are many options. I have explored many resources to learn MEAN stack.
       So I thought to showcase all the best resources I know which are completely free at one place. Our application also has a blog where questions or thoughts can be posted and discussed. More features and resources will be added to our application soon. </p>
  </div>
  <div class="application box">
    <h3>Myself</h3>
    <p>I am Sriharsha, recent grad from Marist College, Poughkeepsie, NY. I started developing interest in Web technologies during my Masters. I have worked as intern at Kwality Photonics Pvt Ltd. where I used to update Web pages with the company's products. 
      Through Web Technologies course in my Masters I have got insight into Angular and MEAN stack. So, I have started learning and loving Angular and I am aspiring to become a Front-End Developer. You can reach me @ sriharsha.alu@gmail.com.</p>
  </div>
</div>